<footer class="site-footer w-100 py-3 pl-5">
	<div class="container w-75">
		<div class="row">
			<div class="col text-left">
			</div>
			<div class="col mx-auto">
				{%- include social.html networks=site.data.author.social -%}
			</div>
			<div class="col text-right">
				<small class="text-muted">{{ site.copyright }}</small>
			</div>
		</div>
		<div class="row">
			<div class="col mx-auto text-center">
				<small class="text-muted" style="font-size: x-small;">Last build on <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date_to_rfc822 }}</time> | Crafted with &hearts; by <a href="https://klez.me">kLeZ</a></small>
			</div>
		</div>
	</div>
</footer>
