<script charset="UTF-8">
	// H4x0r'1sh-tagline about the author.
	let titleStyle = [
		'background: #282828',
		'color: #33FF33',
		'font-size: 18pt',
		'font-weight: bold'
	].join(';');
	let baseStyle = [
		'background: #282828',
		'color: #33FF33',
		'font-size: 12pt'
	].join(';');
	let message = [
		"%cHey! If you're looking at the source code you might be a real supah h4x0r!",
		"",
		"%cNo no, Really.",
		"I'm Alessandro a.k.a. kLeZ, the author of this web place, made with love, for a friend.",
		"If you think this work could be valuable please star the repository on github (https://github.com/kLeZ/bettys), where the source is gently kept safe.",
		"If you like my works, star any other repository you may like from the list.",
		"Please feel free to contact me in one of the social channels you can find on my website (https://klez.me)."
	].join("\n");
	console.log(message, titleStyle, baseStyle);
</script>
