@font-face {
	font-family: 'ArchitectsDaughter';
	src:
	 url("/assets/fonts/architectsdaughter-webfont.woff2") format("woff2"),
	 url("/assets/fonts/architectsdaughter-webfont.woff") format("woff"),
	 url('/assets/fonts/ArchitectsDaughter.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
