@include respond-above(lg) {
	.page {
		article {
			margin-left: 18rem;
			padding: 0 1rem;
			background-color: #33333322;
			border-radius: 10px;
			header {
				h1 {
					font-family: 'SqueakyChalkSound', serif;
				}
			}
		}
	}
}
@include respond-between(md, lg) {
	.page {
		article {
			margin-left: 9rem;
			padding: 0 1rem;
			background-color: #33333322;
			border-radius: 10px;
			header {
				h1 {
					font-family: 'SqueakyChalkSound', serif;
				}
			}
		}
	}
}
@include respond-between(sm, md) {
	.page {
		article {
			margin-left: 6rem;
			padding: 0 1rem;
			background-color: #33333322;
			border-radius: 10px;
			header {
				h1 {
					font-family: 'SqueakyChalkSound', serif;
				}
			}
		}
	}
}
@include respond-between(xs, sm) {
	.page {
		article {
			margin-left: 4rem;
			padding: 0 1rem;
			background-color: #33333322;
			border-radius: 10px;
			header {
				h1 {
					font-family: 'SqueakyChalkSound', serif;
				}
			}
		}
	}
}
@include respond-below(xs) {
	.page {
		article {
			margin-left: 3rem;
			padding: 0 1rem;
			background-color: #33333322;
			border-radius: 10px;
			header {
				h1 {
					font-family: 'SqueakyChalkSound', serif;
				}
			}
		}
	}
}
