.handwritten {
	width: max-content;
	font-family: 'SqueakyChalkSound', serif;
}

.wild-blue-yonder { color: $wild-blue-yonder; }
.lemon-yellow-crayola { color: $lemon-yellow-crayola; }
.nadeshiko-pink { color: $nadeshiko-pink; }
.cambridge-blue { color: $cambridge-blue; }
.pink-lavender { color: $pink-lavender; }
.eton-blue { color: $eton-blue; }
.emerald { color: $emerald; }
.lilac { color: $lilac; }
.thistle { color: $thistle; }
.ash-gray { color: $ash-gray; }
