<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	{% include head.html %}

	{%- assign classes_arr = " " | split: " " -%}
	{%- if page.landing == true -%}{%- assign classes_arr = classes_arr | push: "landing-page" -%}{%- endif -%}
	{%- if page.service == true -%}{%- assign classes_arr = classes_arr | push: "service-page" -%}{%- endif -%}
	{%- if page.post == true -%}{%- assign classes_arr = classes_arr | push: "post-page" -%}{%- endif -%}
	{%- assign classes = classes_arr | join: " " -%}

	<body class="{{ classes }}">
	{%- if page.header == true -%}
		{% include header.html %}
	{%- endif -%}
	{%- if page.navbar == true -%}
		{% include navbar.html items=site.data.navigation %}
	{%- endif -%}
		<main class="container-fluid" aria-label="Content">
		{%- if page.row_wrap == true -%}
			<div class="row">
				{{ content }}
			</div>
		{%- else -%}
			{{ content }}
		{%- endif -%}
		{%- if page.up_arrow == true -%}
			<div class="row justify-content-end text-right">
				<div class="col-6">
					<a id="scroller" class="btn m-3 p-2 text-light bg-dark rounded" title="Scroll to the top of the page">
						<i class="fa fa-5x fa-chevron-up"></i>
					</a>
				</div>
			</div>
		{%- endif -%}
		</main>
	{%- if page.footer == true -%}
		{% include footer.html %}
	{%- endif -%}
		{% include scripts.html %}
	</body>
</html>
